$white: #ffffff;
$black: #2a2a2a;
$turq: #446b6b;
$cyan: #60998e;
$mint: #7ce28f;
$grey: #dcece9;
$grey_slide: rgba(220, 236, 233, .4);
$black_slide: rgba(42, 42, 42, .2);
$turq_slide: rgba(68, 107, 107, .7);

body {
    background-color: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    header {
        box-shadow: 0 1rem 2.5rem $black_slide;
        padding: 2rem;
        margin-bottom: 4rem;

        .logo {
            height: 150px;
        }
    }

    .link-block,
    nav {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    main {
        margin-bottom: 4rem;
    }

    footer {
        padding: 2.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: baseline;

        .copy {
            padding: 1rem 0 0;
            text-align: center;
        }
    }
}

a:not(.no-hover) {
    color: $black;
    text-decoration: none;
    // display:block;
    position: relative;
    overflow: hidden;
    padding: 0 6px;
    text-transform: uppercase;
    transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
    // font-size: 0.875rem;
    letter-spacing: 0.4rem;
    line-height: 1.8;
    position: relative;
    z-index: 1;
    padding: 2px 6px;
}

a:not(.no-hover):after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: $turq_slide;
    content: "";
    transform: translate3d(0,100%,0);
    z-index: -1;
}

a:not(.no-hover):hover:after {
    transform: translate3d(0,0,0);
    transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
}

a:not(.no-hover):hover {
    color: $white;
}

content {
    .less-margin {
        margin-bottom: .2rem !important;
    }


    .panel {
        position: relative;
        min-height: 70vh;
        box-shadow: 1rem 1rem 2.5rem $black_slide;
        overflow: hidden;
    }

    .primary {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: $grey;

        img {
            width: 100%;
        }
    }

    .secondary {
        position: absolute;
        opacity: 0;
        -webkit-transition: all 350ms ease-out;
        -moz-transition: all 350ms ease-out;
        -o-transition: all 350ms ease-out;
        -ms-transition: all 350ms ease-out;
        transition: all 350ms ease-out;
        background-color: $cyan;
    }

    .primary,
    .secondary {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all 350ms ease-out;
        -moz-transition: all 350ms ease-out;
        -o-transition: all 350ms ease-out;
        -ms-transition: all 350ms ease-out;
        transition: all 350ms ease-out;
        height: 100%;
    }

    .panel:hover .primary {
        opacity: 0;
    }

    .panel:hover .secondary {
        opacity: 1;
    }
}

@media (max-width:550px) {
    .panel {
        margin-bottom: 1.5rem;
    }
}

input:required:after {
    content: "*";
    color: red;
}

form {

    fieldset {
        background-color: $grey;
    }
}

.rem-pad-1 {
    padding: 1rem;
}

.rem-pad-2 {
    padding: 2rem;
}
